- name: Write ssh hardening config
  ansible.builtin.template:
    src: templates/99_ssh_hardening.conf
    dest: /etc/ssh/sshd_config.d
    validate: /usr/sbin/sshd -t -f %s
    mode: "0644"
  notify: Restart sshd
  become: true

- name: Install common packages
  ansible.builtin.dnf:
    pkg:
      - htop
      - ncdu
      - nmap
      - emacs
      - tmux
  become: true

- name: Set default zone to 'public'
  ansible.builtin.command: firewall-cmd --set-default-zone=work
  register: common_default_zone_set
  changed_when:
    - '"ZONE_ALREADY_SET" not in common_default_zone_set.stderr'
  become: true
